// FOOTER :: START
footer.footer(js-reveal-footer)
  .container
    .footer__wrapper
      .footer__col
        a(href="#") Пользовательское соглашение
        
      .footer__col
        .footer__socials
          a(href="#" target="_blank") 
            span Fb
          a(href="#" target="_blank")
            span Vk
        .footer__copy VOLOTEAM 2018
        
      .footer__col
        a(href="mailto:help@volon.team") help@volon.team
      
// FOOTER :: END
