// HEADER :: START
header.header
  .container
    .header__wrapper
      .header__logo
        a.logo(href="#")
          +icon('ico-logo2')
      ul.header__menu(js-section-nav)
        li
          a(href="#sectionNKO") Для НКО
        li
          a(href="#sectionExperts") Специалистам  
        li
          a(href="#sectionBlog") Блог
        li
          a(href="#sectionAbout") О нас
      ul.header__login
        li
          a(js-popup href="#modalRegister") Зарегистрироваться
        li
          a(js-popup href="#modalLogin") Войти
          
      .header__hamburger
        .hamburger
          .hamburger-box
            .hamburger-inner
        
// HEADER :: END
