// HEADER :: START
header.header
  .container
    .header__wrapper
      .header__logo
        a.logo(href="#")
          +icon('ico-logo2')
      ul.header__menu
        li
          a(href="#") Преимущества
        li.is-active
          a(href="#") Партнерам  
        li
          a(href="#") Про-боно
        li
          a(href="#") Зарегистрироваться
        li
          a(href="#") Войти
          
      .header__hamburger
        
// HEADER :: END
