---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
  
  
  // HERO SECTION :: START
  .section.section--under-bg-dark(data-section=1)
    img.section-bg(src='img/sectionHero.jpg' srcset='img/sectionHero@2x.jpg 2x')
    .container
      .section__logo(js-scroll-logo)
        include ../icons/logo.svg
      .section__logo-mobile
        +icon('ico-logo-mobile')
      .section__scrolldown(js-scrolldown)
        i.icon.icon-scrolldown
  
  // SECTION
  .section(data-section=2)
    .container
      .p-title Хорошо делиться тем, <br> что делаешь хорошо
      
      .p-center-text Волонтим — это платформа для талантливых профессионалов любого возраста, которые хотят помогать организациям из <div class="t-orange"> третьего сектора* <div class="tooltip"> Третий сектор экономики состоит из различных организаций, решающих социально значимые проблемы.</div></div>
      
      .cta-buttons
        .cta-choice
          .cta-choice__trigger
            span В чем Вы разбираетесь <br> по-настоящему хорошо?
            .cta-choice__trigger-icon(js-cta-choice-trigger)
              +icon('ico-expand')
              +icon('ico-close')
          .cta-choice__options(js-cta-choice-options)
            span В людях
            span В собаках
            span В стариках
            span В котиках
            span В молодеже
        .cta-help
          span Помочь НКО
              
  // REQUEST :: START
  .section.section--dark.section--with-scrolldown(data-section=3)
    .container
      .p-title.p-title--white Актуальные <br> запросы от НКО
      
      .container-narrow
        // slider
        .request-slider(js-slider-requests)
          .request-card
            .request-card__name Фонд «РЭЙ»
            .request-card__icon
              i.icon.icon-fond-1
            .request-card__category Редакутра
            .request-card__description cмм, корректура, текст, cмм, корректура, cмм, корректура, текст, cмм, корректура
            .request-card__cta
              a(href="#").btn.btn-primary
                span помочь

          //card
          .request-card
            .request-card__name Фонд «Подари жизнь»
            .request-card__icon
              i.icon.icon-fond-2
            .request-card__category Комьюнити - менеджемнт
            .request-card__description cмм, корректура, текст, cмм, корректура, cмм, корректура, текст, cмм, корректура
            .request-card__cta
              a(href="#").btn.btn-primary
                span помочь
          //card
          .request-card
            .request-card__name Фонд Кораблик
            .request-card__icon
              i.icon.icon-fond-3
            .request-card__category Дизайн
            .request-card__description cмм, корректура, текст, cмм, корректура, cмм, корректура, текст, cмм, корректура
            .request-card__cta
              a(href="#").btn.btn-primary
                span помочь
          //card
          .request-card
            .request-card__name Фонд «РЭЙ»
            .request-card__icon
              i.icon.icon-fond-1
            .request-card__category Редакутра
            .request-card__description cмм, корректура, текст, cмм, корректура, cмм, корректура, текст, cмм, корректура
            .request-card__cta
              a(href="#").btn.btn-primary
                span помочь
        
        // scrolldown
        .section__scrolldown(js-scrolldown)
          i.icon.icon-scrolldown
        
        
  // SECTION
  .section(data-section=4)
    .container
      .p-title Теперь вы можете помогать неккомерческим организациям в удобном для вас режиме 
      
      .benefits-wrap
        //card
        .benefit-card
          .benefit-card__icon
            i.icon.icon-benefits-1
          .benefit-card__name Быстрое взаимо-действие без лишней волокиты
          .benefit-card__description Вы сможете решать интересные задачи не выходя из мессенджера
        //card
        .benefit-card
          .benefit-card__icon
            i.icon.icon-benefits-2
          .benefit-card__name Наши НКО знают чего хотят
          .benefit-card__description НКО заполняют специальные брифы. А менеджеры проверяют их, прежде чем беспокоить вас
        //card
        .benefit-card
          .benefit-card__icon
            i.icon.icon-benefits-3
          .benefit-card__name Вы точно приносите пользу обществу
          .benefit-card__description Мы тщательно верифицируем все НКО, прежде чем они могут оставлять заявки. Но вы можете помогать только тем, чью миссию разделяете на 100%.
        //card
        .benefit-card
          .benefit-card__icon
            i.icon.icon-benefits-4
          .benefit-card__name Экспертиза и признание
          .benefit-card__description Каждая успешная консультация повышает ваш рейтинг — вы можете стать лучшим волонтером в своей отрасли.
          
  // SECTION
  .section(data-section=5)
    .container.no-pointers
      .p-title.p-title--white Блок для <br> партнеров
      a(href="#").presentation-btn
        span Презентация
        .presentation-btn__icon
          +icon('ico-download')
        
    .slider(js-full-slider)
      .slider-slide
        .slider-slide__mobile-logo
          img(src='img/partnerLogo_1.png' srcset='img/partnerLogo_1@2x.png 2x')
        img.section-bg(src='img/sectionPartners.jpg' srcset='img/sectionPartners@2x.jpg 2x')
      .slider-slide
        .slider-slide__mobile-logo
          img(src='img/partnerLogo_2.png' srcset='img/partnerLogo_2@2x.png 2x')
        img.section-bg(src='img/sectionHero.jpg' srcset='img/sectionHero@2x.jpg 2x')
      .slider-slide
        .slider-slide__mobile-logo
          img(src='img/partnerLogo_3.png' srcset='img/partnerLogo_3@2x.png 2x')
        img.section-bg(src='img/sectionPartners.jpg' srcset='img/sectionPartners@2x.jpg 2x')
      .slider-slide
        .slider-slide__mobile-logo
          img(src='img/partnerLogo_4.png' srcset='img/partnerLogo_4@2x.png 2x')
        img.section-bg(src='img/sectionHero.jpg' srcset='img/sectionHero@2x.jpg 2x')
      .slider-slide
        .slider-slide__mobile-logo
          img(src='img/partnerLogo_5.png' srcset='img/partnerLogo_5@2x.png 2x')
        img.section-bg(src='img/sectionPartners.jpg' srcset='img/sectionPartners@2x.jpg 2x')
            
    .slider-controls
      .slider-control(data-slide="1").is-active
        .slider-control__dot
          img(src='img/partnerLogo_1.png' srcset='img/partnerLogo_1@2x.png 2x')
      .slider-control(data-slide="2")
        .slider-control__dot
          img(src='img/partnerLogo_2.png' srcset='img/partnerLogo_2@2x.png 2x')
      .slider-control(data-slide="3")
        .slider-control__dot
          img(src='img/partnerLogo_3.png' srcset='img/partnerLogo_3@2x.png 2x')
      .slider-control(data-slide="4")
        .slider-control__dot
          img(src='img/partnerLogo_4.png' srcset='img/partnerLogo_4@2x.png 2x')
      .slider-control(data-slide="5")
        .slider-control__dot
          img(src='img/partnerLogo_5.png' srcset='img/partnerLogo_5@2x.png 2x')
            
    
        
  // SECTION
  .section.section--dark(data-section=6)
    .container
      .p-title.p-title--white Вопросы <br> о про-боно
      
      .pro-bono-wrap
        .pro-bono-card
          .pro-bono-card__name Зачем вообще помогать НКО? (тем более бесплатно)
          .pro-bono-card__description Некоммерческие организации - необходимый фактор роста любой экономики. Учитывая уровень жизни и несостоятельность чиновников, в России они играют еще бОльшую роль. Но сами НКО справляются далеко не со всеми задачами. Поэтому поделиться с ними своей экспертизой - лучший способ изменить к лучшему жизнь для всех нас. Кроме того, вы получите интересные задачи, портфолио и связи.
        // card
        .pro-bono-card
          .pro-bono-card__name Что если НКО не особо нуждается в моих знаниях?
          .pro-bono-card__description Мы прикладываем большие усилия к тому, чтобы энергия специалистов не уходила в песок. В первую очередь помогают брифы: если НКО не приложит минимальных усилий, чтобы описать задачу, она просто не сможет отправить запрос. Во-вторых мы прикладываем большие усилия к тому, чтобы стыковать специалистов и НКО с общими ценностями, у которых могут развиться долгосрочные отношения. Кроме того, мы отслеживаем как НКО решает задачу уже после консультации. Это помогает отделить трудолюбивых ребят от пассажиров.
        //card
        .pro-bono-card
          .pro-bono-card__name Какой смысл ввязываться, если у меня почти нет времени?
          .pro-bono-card__description Мы стараемся сделать так, чтобы каждый специалист тратил ровно столько времени, сколько ему комфортно. Наши чатботы сами по себе экономят время, кроме того вы можете установить максимальное количество часов в месяц и удобные дни недели и часы для консультаций.
        //card
        .pro-bono-card.pro-bono-card--hidden
          .pro-bono-card__name Какой смысл ввязываться, если у меня почти нет времени?
          .pro-bono-card__description Мы стараемся сделать так, чтобы каждый специалист тратил ровно столько времени, сколько ему комфортно. Наши чатботы сами по себе экономят время, кроме того вы можете установить максимальное количество часов в месяц и удобные дни недели и часы для консультаций.
      
      //- .more-btn(js-more-bono)
      //-   .more-btn__caption Еще
      //-   .more-btn__icon
      //-     +icon('ico-slick-next')
      
  // QUOTES :: START
  .section(data-section=7)
      
    .slider(js-full-slider)
      .quote
        .quote__mobile-logo
          img(src='img/partnerLogo_1.png' srcset='img/partnerLogo_1@2x.png 2x')
        .quote__text Volonteam объединяет НКО и специалистов, готовых помогать своей экспертизой.
      .quote
        .quote__mobile-logo
          img(src='img/partnerLogo_2.png' srcset='img/partnerLogo_2@2x.png 2x')
        .quote__text.quote__text--smaller С помощью платформы «Волонтим» квалифицированные специалисты смогут поделиться своей экспертизой и сделать доброе дело 
      //- .quote
      //-   .quote__mobile-logo
      //-     img(src='img/partnerLogo_3.png' srcset='img/partnerLogo_3@2x.png 2x')
      //-   .quote__text Volonteam объединяет НКО и специалистов, готовых помогать своей экспертизой.
      //- .quote
      //-   .quote__mobile-logo
      //-     img(src='img/partnerLogo_4.png' srcset='img/partnerLogo_4@2x.png 2x')
      //-   .quote__text цитата Только так можно <br> создать общество, в котором <br> будет приятно жить цитата 
      //- .quote
      //-   .quote__mobile-logo
      //-     img(src='img/partnerLogo_5.png' srcset='img/partnerLogo_5@2x.png 2x')
      //-   .quote__text цитата Только так можно <br> создать общество, в котором <br> будет приятно жить цитата 
      //- 
    .slider-controls.slider-controls--orange
      .slider-control(data-slide="1").is-active
        .slider-control__dot
          img(src='img/partnerLogo_1.png' srcset='img/partnerLogo_1@2x.png 2x')
      .slider-control(data-slide="2")
        .slider-control__dot
          img(src='img/partnerLogo_2.png' srcset='img/partnerLogo_2@2x.png 2x')
      //- .slider-control(data-slide="3")
      //-   .slider-control__dot
      //-     img(src='img/partnerLogo_3.png' srcset='img/partnerLogo_3@2x.png 2x')
      //- .slider-control(data-slide="4")
      //-   .slider-control__dot
      //-     img(src='img/partnerLogo_4.png' srcset='img/partnerLogo_4@2x.png 2x')
      //- .slider-control(data-slide="5")
      //-   .slider-control__dot
      //-     img(src='img/partnerLogo_5.png' srcset='img/partnerLogo_5@2x.png 2x')
      //- 
    // scrolldown
    .section__scrolldown.section__scrolldown--dark(js-scrolldown)
      i.icon.icon-scrolldown-dark        

  // CTA :: START
  .section.section--dark(data-section=8)
    .container
      .p-title.p-title--white Частью третьего сектора может быть каждый
      .cta-form
        .cta-form__head Только так можно создать общество, в котором будет приятно жить
        form(action="#" js-validate-join).cta-form__capture
          input(type="email" name="email" placeholder="Ваш email")
          button(type="submit") Присоединиться
        .cta-form__mobile
          .footer__socials
            a(href="#" target="_blank") 
              span Fb
            a(href="#" target="_blank")
              span Vk
          .footer__copy
            a(href="mailto:help@volon.team") help@volon.team
          
  
  include components/_modal
                
