---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
  
  
  // SECTIONS
  .section
    img.section-bg(src='img/sectionHero.jpg' srcset='img/sectionHero@2x.jpg 2x')
    .section-content
      .section__logo
        include ../icons/logo.svg
