// HEADER
.header
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 9
  background: #FFFFFF
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15)
  transition: transform .1s linear
  will-change: transform
  &.is-fixed
    transform: translate3d(0,calc(-100vh + 70px),0) !important
  &__wrapper
    display: flex
    align-items: center
    padding: 25px 0

  &__logo
    flex: 0 0 auto

  &__menu
    display: flex
    align-items: center
    flex: 1 1 auto
    list-style: none
    margin: 0
    padding: 0
    margin-left: 8%
  &__login
    list-style: none
    margin: 0
    padding: 0
    li
      margin-right: 30px
      &:last-child
        margin-right: 0
  &__menu, &__login
    li
      flex: 1 1 auto
      display: inline-block
      font-size: 17px
      letter-spacing: 1.26px
      a
        +tr
        &:hover
          color: $colorPrimary
      &.is-active
        a
          color: $colorPrimary
  &__hamburger
    display: none
    margin-left: auto


+r($wide)
  .header
    &__menu
      margin-left: 5%
    &__menu, &__login
      li
        font-size: 15px

+r($desktop)
  .header
    transform: translate3d(0,calc(-100vh + 50px),0) !important
    &.is-fixed
      transform: translate3d(0,calc(-100vh + 50px),0) !important

    &__wrapper
      padding: 15px 0
    &__menu, &__login
      display: none
    &__hamburger
      display: block

+r($mobile)
  .header
    &__logo
      transform-origin: left center
      transform: scale(.65)


/* mobile navi
.mobile-navi
  display: none
  position: fixed
  z-index: 8
  top: 50px
  left: 25px
  right: 25px
  opacity: 0
  transform: translate3d(0,-100%,0)
  // pointer-events: none
  +tr
  &.is-active
    opacity: 1
    transform: translate3d(0,0,0)
    .mobile-navi__menu
      pointer-events: all
  &__menu
    pointer-events: all
    list-style: none
    margin: 0
    padding: 25px
    max-width: 270px
    margin-left: auto
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.10)
    border-radius: 0 0 20px 20px
    background: $colorPrimary
    li
      display: block
      font-size: 13px
      letter-spacing: 0.96px
      a
        display: inline-block
        padding: 12px 0
        +tr
        &:hover
          color: white

+rmin($desktop)
  .mobile-navi
    display: none !important

+r($desktop)
  .mobile-navi
    display: block
