/* INDEX
.section
  position: relative
  overflow: hidden
  min-height: 500px
  height: 100vh
  display: flex
  flex-direction: column
  &-bg
    position: absolute
    top: 50%
    left: 50%
    z-index: 1
    transform: translate(-50%,-50%)
    min-width: 100%
    min-width: 100%
    height: auto
    width: auto
  &-content
    position: relative
    z-index: 2
    flex: 1 1 auto
    display: flex
    flex-direction: column
  &__logo
    text-align: center
    margin: auto
