.ico-expand {
  width: 0.55em;
  height: 1em;
  fill: #F58C7C;
}
.ico-logo {
  width: 32.58em;
  height: 1em;
  fill: #FFF;
}
.ico-logo2 {
  width: 17.88em;
  height: 1em;
  fill: none;
}
.ico-slick-next {
  width: 0.65em;
  height: 1em;
  fill: #7DC8D2;
}
.ico-slick-prev {
  width: 0.65em;
  height: 1em;
  fill: #7DC8D2;
}
