.ico-expand {
  width: 0.55em;
  height: 1em;
  fill: #F58C7C;
}
.ico-fond-1 {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-fond-2 {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-fond-3 {
  width: 1.02em;
  height: 1em;
  fill: none;
}
.ico-logo {
  width: 34em;
  height: 1em;
  fill: none;
}
.ico-logo2 {
  width: 17.88em;
  height: 1em;
  fill: none;
}
.ico-slick-next {
  width: 0.65em;
  height: 1em;
  fill: #7DC8D2;
}
.ico-slick-prev {
  width: 0.65em;
  height: 1em;
  fill: #7DC8D2;
}
