.ico-close {
  width: 1em;
  height: 1em;
  fill: #F58C7C;
}
.ico-download {
  width: 0.88em;
  height: 1em;
  fill: #FFF;
}
.ico-expand {
  width: 0.55em;
  height: 1em;
  fill: #F58C7C;
}
.ico-logo-mobile {
  width: 19.29em;
  height: 1em;
  fill: none;
}
.ico-logo {
  width: 34em;
  height: 1em;
  fill: #FFF;
}
.ico-logo2 {
  width: 17.88em;
  height: 1em;
  fill: none;
}
.ico-slick-next {
  width: 0.65em;
  height: 1em;
  fill: #7DC8D2;
}
.ico-slick-prev {
  width: 0.65em;
  height: 1em;
  fill: #7DC8D2;
}
